<p><strong>Buy Staff</strong></p>
{% if positions|length == 0 %}
    <p><strong>⚠️ No positional player data available for this team. Please contact admin</strong></p>
{% else %}
    <table id="positions-table">
        <thead>
            <tr>
                <th>Position</th>
                <th>Cost</th>
                <th>Max</th>
                <th>&nbsp;</th>
            </tr>
        </thead>
        <tbody>
            {% for pos in positions %}
            <tr>                
                <td>
                    <a href="/rules/position/{{ pos.player.id }}.html" title="{{ pos.player.description }}">
                        {{ pos.player.name }}
                    </a>
                </td>
                <td>{{ pos.player.cost | number_format }}</td>
                <td>
                    {{ pos.player.max_count == 0 ? 'Unlimited' : pos.player.max_count }}</td>
                <td>
                    <button type="button" class="buy-player-btn"
                        data-position-id="{{ pos.player.id }}"
                        data-max="{{ pos.player.max_count }}">
                        Buy
                    </button>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
