{% extends "team/team_base.twig" %}

{% block title %}
    Block &amp; Scroll - Match - {{ match.homeTeam.name }} vs {{ match.awayTeam.name ?? match.away_team_name }}
{% endblock %}

{% block content %}

    <p class="breadcrumbs">
        <a href="/">Home</a> -
        <a href="/match/view/all">Matches</a> -
        <a href="/match/view/{{match.id}}">Match #{{match.id}}</a>
    </p>

    <h2>
        Match #{{match.id}}:
        {% include 'partials/home_team_name.twig' with {'match': match} %} vs 
        {% include 'partials/away_team_name.twig' with {'match': match} %}
    </h2>

    {% if match.homeTeam.status == 'playing' %}
        <h1>In Progress</h2>
    {% else %}
        {% include 'match/end/partials/match_result.twig' with {'match': match} %}
    {% endif %}

    {% if isAdmin or team %}
        <div class="team-quick-buttons" style="border: 1px solid gray; border-radius: 8px; padding: 0.5em;">
            <a href='/team/quick/{{ team.id }}/note' class="quick-btn" title="Add Note">📝 Note</a>
        </div>
    {% endif %}

    <table class="match-details">
        <tr>
            <th>Match Status</th>
            <td>{{ match.status }}</td>
        </tr>
        <tr>
            <th>Home Team</th>
            <td>{% include 'partials/home_team_name.twig' with {'match': match} %}</td>
        </tr>
        <tr>
            <th>Away Team</th>
            <td>{% include 'partials/away_team_name.twig' with {'match': match} %}</td>
        </tr>
        <tr>
            <th>Home Score</th>
            <td>{{ match.home_score }}</td>
        </tr>
        <tr>
            <th>Away Score</th>
            <td>{{ match.away_score }}</td>
        </tr>
        <tr>
            <th>League</th>
            <td>{{ match.league.name ?? '-' }}</td>
        </tr>
        <tr>
            <th>Match Start</th>
            <td>{{ match.created_at|date('Y/m/d H:i') }}</td>
        </tr>
        <tr>
            <th>Last Update</th>
            <td>
                {% if match.homeTeam.status != 'playing' %}
                    {{ match.updated_at|date('Y/m/d H:i') }}
                {% else %}
                    -
                {% endif %}
            </td>
        </tr>

        {% if match.status == 'finished' %}
            <th>Duration</th>
            <td>
                {% set duration = match.updated_at.diff(match.created_at) %}
                {% set total_minutes = duration.days * 1440 + duration.hours * 60 + duration.minutes %}

                {% if total_minutes < 2 %}
                    <strong>Suspiciously Short</strong>
                {% else %}
                    {% if duration.hours > 0 %}
                        {{ duration.hours }}h
                    {% endif %}
                    {{ duration.minutes }}m
                {% endif %}
            </td>
        {% endif %}
    </table>

    {% include 'match/partials/logs.twig' with {'logs': logs, 'page': page, 'totalPages': totalPages} %}

    <div class="prinary-nav">
        <a href="/match/view/all" class="secondary-nav-link">🔙 Back to all matches</a>
    </div>

{% endblock %}
