{% extends "team/team_base.twig" %}

{% block title %}Block &amp; Scroll - Team - List{% endblock %}

{% block content %}

    <p class="breadcrumbs">
        <a href="/">Home</a> -
        <a href="/team">Teams</a> -
        {% if user %}
            <a href="/team/view/user/{{user.id}}">{{ user.name }}'s Teams</a>
        {% else %}
            <a href="/team/view/all">All Teams</a>
        {% endif %}
    </p>

    <h1>
        {% if user %}
            {{ user.name }}'s
        {% else %}
            View All
        {% endif %}
        Teams
    </h1>

    {% if teams|length == 0 %}
        <p><strong>⚠️ No Teams Found!</strong></p>
    {% else %}
        <table id="positions-table">
            <thead>
                <tr>
                    <th>Team Name</th>
                    <th>Status</th>
                    <th>Race</th>
                    <th>Coach</th>
                    <th>League</th>
                </tr>
            </thead>
            <tbody>
                {% for team in teams %}
                <tr>
                    <td><a href="/team/view/{{ team.id }}">{{ team.name }}</a></td>
                    <td>{{team.status}}</td>
                    <td>{{ team.race.name }}</td>
                    <td>{{ team.coach.name }}</td>
                    <td>{{ team.league.name }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

{% endblock %}