{% extends "team/team_base.twig" %}

{% block title %}Block & Scroll - Rules - Team - {{ team.name }}{% endblock %}

{% block content %}

    <p class="breadcrumbs">
        <a href="/">Home</a> -
        <a href="/team">Teams</a> - 
        <a href="/team/view/all">All Teams</a> -
        <a href="/team/view/{{ team.id }}">{{ team.name }}</a>
    </p>

    <h2>{{ team.name }} [{{ team.status }}]</h2>

    {% if session.user and session.user.id == team.coach.id %}
        <div class="team-quick-buttons">
            {% if team.status == 'playing' %}
                <a href='/team/quick/{{ team.id }}/injury' class="quick-btn" title="Log Injury">🩸 Player Injured</a>
                <a href='/team/quick/{{ team.id }}/casualty' class="quick-btn" title="Mark Casualty Caused">✊ Casualty Caused</a>
                <a href='/team/quick/{{ team.id }}/touchdown' class="quick-btn" title="Add Touchdown">🏉 Touch Down</a>
                <a href='/team/quick/{{ team.id }}/completion' class="quick-btn" title="Add Completion">🤾🏻‍♂️ Completion</a>
                <form action="/match/end" method="post">
                    <input type="hidden" id="team_id" name="team_id" value="{{team.id}}" />
                    <button class="quick-btn" title="Start Match">🏁 End Match</button>
                </form>
            {% else %}
                <form action="/match/start" method="post">
                    <input type="hidden" id="team_id" name="team_id" value="{{team.id}}" />
                    <button class="quick-btn" title="Start Match">🏉 Start Match</button>
                </form>
            {% endif %}
        </div>
    {% endif %}

    {% if team.status == 'playing' %}
        <div class="match-card">
            <div class="match-card-header">Ongoing Match</div>
            <div class="match-card-teams">
                {% include 'partials/home_team_name.twig' with {'match': match} %}
                ({{ match.home_score ?? 0 }})
                <span style="font-weight: bold;">vs</span>
                {% include 'partials/away_team_name.twig' with {'match': match} %}
                ({{ match.away_score ?? 0 }})
            </div>
            
            <a href="/match/view/{{ match.id }}" class="quick-btn" title="View Match">
                🕶️ View Match Details
            </a>
        </div>
    {% endif %}

    <p class="team-description">{{ team.description }}</p>

    <div class="team-meta-grid-compact">
        <dl>
            <dt>Team Value:</dt><dd>{{ team.current_team_value|number_format }} Gold</dd>
            <dt>Race:</dt><dd>{{ team.race.name }} <i>(Tier: {{ team.race.tier }})</i></dd>

            <dt>Coach:</dt><dd>{{ team.coach.name }}</dd>
            <dt>League:</dt><dd>
                {% if team.league is null %}
                    None
                {% else %}
                    <a href="/leagues/view/{{ team.league.id }}">{{ team.league.name }}</a>
                {% endif %}
            </dd>

            <dt>Treasury:</dt><dd>{{ team.treasury|number_format }} Gold</dd>
            <dt>Rerolls:</dt><dd>{{ team.rerolls|number_format }}</dd>

            <dt>Cheerleaders:</dt><dd>{{ team.cheerleaders|number_format }}</dd>
            <dt>Assistant Coaches:</dt><dd>{{ team.assistant_coaches|number_format }}</dd>

            <dt>Fan Factor:</dt><dd>{{ team.fan_factor|number_format }}</dd>
            <dt>Apothecary:</dt><dd>{{ team.apothecary ? 'Yes' : 'No' }}</dd>
        
            <dt><strong>Matches Played:</strong> <a href="/match/view/team/{{team.id}}">{{ team.allMatches|length }}</a></dt>
        </dl>
    </div>

    <h3>Players</h3>
    
    {% if players|length == 0 %}
        <p><strong>This team has no players!</strong></p>
    {% else %}
        <table id="positions-table" class="stacked">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Position</th>
                    <th class="desktop-row">MA</th>
                    <th class="desktop-row">ST</th>
                    <th class="desktop-row">AG</th>
                    <th class="desktop-row">PA</th>
                    <th class="desktop-row">AV</th>
                    <th class="mobile-row">Attr</th>
                    <th>Skills</th>
                    <th>SPP</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for player in players %}
                <tr>
                    <td data-label="#">{{ player.number }}</td>
                    <td data-label="Name"><a href="/player/view/{{player.id}}">{{ player.name }}</a></td>
                    <td data-label="Pos"><a href="/rules/position/{{player.position.id}}">{{ player.position.name }}</a></td>
                    <td data-label="MA" class="desktop-row">{{ player.ma }}</td>
                    <td data-label="ST" class="desktop-row">{{ player.st }}</td>
                    <td data-label="AG" class="desktop-row">{{ player.ag }}</td>
                    <td data-label="PA" class="desktop-row">{{ player.pa }}</td>
                    <td data-label="AV" class="desktop-row">{{ player.av }}</td>
                    <td data-label="Attr" class="mobile-row">MA:{{ player.ma }} ST:{{ player.st }} AG:{{ player.ag }} PA:{{ player.pa }} AV:{{ player.av }}</td>
                    <td data-label="Skills">
                        {% include 'partials/skill_tags.twig' with {'skills':  (player.position.skills | merge(player.skills))} %}
                    </td>
                    <td data-label="SPP">{{ player.spp }}</td>
                    <td data-label="Status">
                        {% if player.miss_next_game %}
                            <p><b>Miss next game</b></p>
                        {% else %}
                            {{ player.status }}
                        {% endif %}
                        {% if player.niggling_injury %}
                            <p><b>Niggling injury</b></p>
                        {% endif %}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if showManagementButtons == true %}
        <div class="primary-nav">
            {% if team.status != 'retired' %}
                <a href="/team/edit/{{ team.id }}" class="primary-nav-link">Edit Team Details</a>
                <a href="/team/hire/{{ team.id }}" class="primary-nav-link">Hire / Fire Staff</a>
                <a href="/team/retire/{{ team.id }}/confirm" class="primary-nav-link">Retire</a>
            {% else %}
                <a href="/team/unretire/{{ team.id }}" class="primary-nav-link">Bring out of retirement</a>
            {% endif %}
        </div>
    {% endif %}

    {% include 'partials/special_rules.twig' with {'special_rules': team.race.special_rules, 'regional_rules': team.race.regional_rules} %}

{% endblock %}