{% extends "team/team_base.twig" %}

{% block title %}Block & Scroll - Rules - Team - {{ team.name }}{% endblock %}

{% block content %}

    <p class="breadcrumbs">
        <a href="/">Home</a> -
        <a href="/team">Teams</a> - 
        <a href="/team/view/all">All Teams</a> -
        <a href="/team/view/{{ team.id }}">{{ team.name }}</a>
    </p>

    <div>
        <h2>{{ team.name }}</h2>
        <p class="team-description">{{ team.description }}</p>
    </div>

    <div class="team-header-grid">
        <div class="team-meta">
            <p><strong>Race:</strong> {{ team.race.name }} <i>(Tier: {{ team.race.tier }})</i></p>
            <p><strong>Coach:</strong> {{ team.coach.name }}</p>
            <p><strong>League:</strong> {{ team.league.name }} </p>
            <p><strong>Treasury:</strong> {{ team.treasury|number_format }} Gold</p>            
        </div>
        <div class="team-meta">
            <p><strong>Rerolls:</strong> {{ team.rerolls|number_format }}</p>
            <p><strong>Cheerleaders:</strong> {{ team.cheerleaders|number_format }}</p>
            <p><strong>Assistant Coaches:</strong> {{ team.assistant_coaches|number_format }}</p>
            <p><strong>Fan Factor:</strong> {{ team.fan_factor|number_format }}</p>           
        </div>
    </div>

    <h3>Players</h3>
    
    {% if players|length == 0 %}
        <p><strong>This team has no players!</strong></p>
    {% else %}
        <table id="positions-table">
            <thead>
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Position</th>
                    <th>MA</th>
                    <th>ST</th>
                    <th>AG</th>
                    <th>PA</th>
                    <th>AV</th>
                    <th>Skills</th>
                    <th>SPP</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {% for player in players %}
                <tr>
                    <td>{{ player.number }}</td>
                    <td><a href="/player/view/{{player.id}}">{{ player.name }}</a></td>
                    <td><a href="/rules/position/{{player.position.id}}">{{ player.position.name }}</a></td>
                    <td>{{ player.ma }}</td>
                    <td>{{ player.st }}</td>
                    <td>{{ player.ag }}</td>
                    <td>{{ player.pa }}</td>
                    <td>{{ player.av }}</td>
                    <td>{% include 'partials/skill_tags.twig' with {'skills': player.position.skills} %}</td>
                    <td>{{ player.spp }}</td>
                    <td></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}

    {% if showManagementButtons == true %}
        <p>
            <center>
                <button onclick="window.location.href='/team/edit/{{ team.id }}'">Edit Team Details</button>
                <button onclick="window.location.href='/team/hire/{{ team.id }}'">Hire / Fire Staff</button>
                <button onclick="window.location.href='/team/delete/{{ team.id }}/confirm'">Delete</button>
            </center>
        </p>
    {% endif %}

    {% include 'partials/special_rules.twig' with {'special_rules': team.race.special_rules, 'regional_rules': team.race.regional_rules} %}

{% endblock %}