{% extends "team/team_base.twig" %}

{% block title %}Block &amp; Scroll - Rules - Team - {{ team.name }} - {{ player.name }} (#{{ player.number }}) - SPP - Random Primary Skill{% endblock %}

{% block content %}

    <p class="breadcrumbs">
        <a href="/">Home</a> -
        <a href="/team">Teams</a> - 
        <a href="/team/view/all">All Teams</a> -
        <a href="/team/view/{{ player.team.id }}">{{ player.team.name }}</a> -
        <a href="/player/view/{{ player.id }}">{{ player.name }} (#{{ player.number }})</a> -
        <a href="/player/spp/{{ player.id }}">Spend Start Player Points</a> -
        Skill Added
    </p>

    <h2>{{ player.name }} (#{{ player.number }}) has gained a new skill</h2>

    <p class="rules-intro">Your player - {{ player.name }} (#{{ player.number }}) - has gained the skill {{skill.name}}</p>

    <p style="margin-top: 1.5em;">
        <a href="/player/spp/{{player.id}}">â† Back to player SPP</a>
    </p>

{% endblock %}