{% extends "team/team_base.twig" %}

{% block title %}Block &amp; Scroll - Spend SPP{% endblock %}

{% block content %}

    <p class="breadcrumbs">
        <a href="/">Home</a> -
        <a href="/team">Teams</a> - 
        <a href="/team/view/all">All Teams</a> -
        <a href="/team/view/{{ player.team.id }}">{{ player.team.name }}</a> -
        <a href="/player/view/{{ player.id }}">{{ player.name }} (#{{ player.number }})</a> -
        Spend Start Player Points
    </p>

    <h2>{{ player.name }} (#{{ player.number }}) Star Player Points</h2>


    <p class="rules-intro">All skills currently in <strong>Blood Bowl</strong>:</p>

    <p>This player has <strong>{{player.spp}}</strong> star player points to spend</p>
    
    {% if upgrade_cost.random_primary > player.spp %}
        <p><i>Not enough SPP to purchase anything.</i></p>
    {% endif %}

    <div class="primary-nav">
    {% if upgrade_cost.random_primary <= player.spp %}
        <div>
            <button onclick="window.location.href='/player/spp/{{ player.id }}/random_primary'">
                🎲 Random Primary Skill [{{upgrade_cost.random_primary}}]
            </button>
        </div>
    {% endif %}

    {% if upgrade_cost.select_primary_or_random_secondary <= player.spp %}
        <div>
            <button onclick="window.location.href='/player/spp/{{ player.id }}/select_primary'">
                👆 Select Primary Skill [{{upgrade_cost.select_primary_or_random_secondary}}]
            </button>
        </div>
    {% endif %}

    {% if upgrade_cost.select_primary_or_random_secondary <= player.spp %}
        <div>
            <button onclick="window.location.href='/player/spp/{{ player.id }}/random_secondary'">
                🎲 Random Secondary Skill [{{upgrade_cost.select_primary_or_random_secondary}}]
            </button>
        </div>
    {% endif %}

    {% if upgrade_cost.select_secondary <= player.spp %}
        <div>
            <button onclick="window.location.href='/player/spp/{{ player.id }}/select_secondary'">
                👆 Select Secondary Skill [{{upgrade_cost.select_secondary}}]
            </button>
        </div>
    {% endif %}

    {% if upgrade_cost.characteristic <= player.spp %}
        <div>
            <button onclick="window.location.href='/player/spp/{{ player.id }}/characteristic'">
                🎲 Random Character Increase [{{upgrade_cost.characteristic}}]
            </button>
        </div>
    {% endif %}
    </div>

    <div class="primary-nav">
        <a href="/player/view/{{player.id}}" class="secondary-nav-link">🔙 Back to Player</a>
    </div>

{% endblock %}