{% extends "team/team_base.twig" %}

{% block title %}Block &amp; Scroll - Random Primary Skill{% endblock %}

{% block content %}

    <p class="breadcrumbs">
        <a href="/">Home</a> -
        <a href="/team">Teams</a> - 
        <a href="/team/view/all">All Teams</a> -
        <a href="/team/view/{{ player.team.id }}">{{ player.team.name }}</a> -
        <a href="/player/view/{{ player.id }}">{{ player.name }} (#{{ player.number }})</a> -
        <a href="/player/spp/{{ player.id }}">Spend Start Player Points</a> -
        Random Primary Skill
    </p>

    <h2>{{ player.name }} (#{{ player.number }}) Random Primary Skill</h2>

    <p class="rules-intro">Roll two D6 for a random Primary Skill for {{ player.name }} (#{{ player.number }}):</p>

    <form method="post" action="/player/spp/{{ player.id }}/random_primary" class="form-horizontal">
        <div class="form-section">   
            <div class="form-group">
                <label for="skill_category">Skill Category</label>
                <select name="category_id" id="category_id" class="form-control">
                    {% for category in skill_categories %}
                        <option value="{{ category.id }}">{{ category.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="primary_random_1">Random Primary Skill Roll 1:</label>
                {% include 'partials/dice_roll.twig' with {'name': 'primary_random_1', 'min': 1, 'max': 6} %}
            </div>
            <div class="form-group">
                <label for="primary_random_2">Random Primary Skill Roll 2:</label>
                {% include 'partials/dice_roll.twig' with {'name': 'primary_random_2', 'min': 1, 'max': 6} %}
            </div>       
            <div class="form-section">
                <button type="submit">Submit Selection and Roll</button>
            </div>
        </div>      
    </form>

    <div class="primary-nav">
        <a href="/player/spp/{{player.id}}" class="secondary-nav-link">🔙 Back to Player SPP</a>
    </div>

{% endblock %}