{% extends "team/team_base.twig" %}

{% block title %}Block &amp; Scroll - Select Primary Skill{% endblock %}

{% block content %}

    <p class="breadcrumbs">
        <a href="/">Home</a> -
        <a href="/team">Teams</a> - 
        <a href="/team/view/all">All Teams</a> -
        <a href="/team/view/{{ player.team.id }}">{{ player.team.name }}</a> -
        <a href="/player/view/{{ player.id }}">{{ player.name }} (#{{ player.number }})</a> -
        <a href="/player/spp/{{ player.id }}">Spend Start Player Points</a> -
        Select Primary Skill
    </p>

    <h2>{{ player.name }} (#{{ player.number }}) Select Primary Skill</h2>

    <p class="rules-intro">All skills currently available for {{ player.name }} (#{{ player.number }}):</p>

    {% include 'player/spp/partials/skill_list.twig' with {'skills': skills, 'player': player, 'type': 'primary'} %}

    <p style="margin-top: 1.5em;">
        <a href="/player/spp/{{player.id}}">← Back to player SPP</a>
    </p>

{% endblock %}