<p><strong>Buy Side Staff</strong></p>
<table id="staff-table">
    <thead>
        <tr>
            <th>Staff Type</th>
            <th>Cost</th>
            <th>Max</th>
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>

        {% for staff in side_staff %}
            {% if staff is not null %}         
                <tr>
                    <td>
                        <a href="/rules/side-staff/{{ staff.id }}" title="{{ staff.description }}">
                            {{ staff.name }}
                        </a>
                    </td>
                    <td>{{ staff.cost | number_format }}</td>
                    <td>{{ staff.max }}</td>
                    <td>
                        <button 
                            type="button" 
                            class="buy-staff-btn" 
                            data-staff-id="{{ staff.id }}"
                            data-staff-type="{{ staff.type }}"
                            data-staff-cost="{{ staff.cost }}"
                            data-max-staff="{{ staff.max }}"
                            data-current-staff="{{ staff.current }}"
                        >Buy</button>
                        {% if staff.current > 0 %}
                            <button 
                                type="button" 
                                class="fire-staff-btn" 
                                data-staff-type="{{ staff.type }}"
                                disabled
                            >Fire</button>
                        {% endif %}
                    </td>
                </tr>
            {% endif %}
        {% endfor %}
</table>