{% extends "base.twig" %}

{% block title %}Block & Scroll - Rules - Team - {{ team.name }}{% endblock %}

{% block content %}

    <p class="breadcrumbs">
        <a href="/">Home</a> -
        <a href="/rules">Rules</a> - 
        <a href="/rules/teams">Teams</a> -
        <a href="/rules/teams/{{ team.id }}">{{ team.name }}</a>
    </p>

    <h2>{{ team.name }}</h2>
    <p>{{ team.description }}</p>
    <p>Tier: {{ team.tier }}</p>

    <h3>Positional Players</h3>
    <p>Each team has a set of positional players, each with their own skills and costs. The maximum number of each position you can have is listed below.</p>

    {% if positions|length == 0 %}
        <p><strong>⚠️ No positional player data available for this team. Please contact admin</strong></p>
    {% else %}
        <table id="positions-table" class="stacked">
            <thead>
                <tr>
                    <th>Position</th>
                    <th>Skills</th>
                    <th>Primary Skills</th>
                    <th>Secondary Skills</th>
                    <th>Cost</th>
                    <th>Max</th>
                </tr>
            </thead>
            <tbody>
                {% for pos in positions %}
                <tr>
                    <td data-label="Position"><a href="/rules/position/{{pos.player.id}}">{{ pos.player.name }}</a></td>
                    <td data-label="Skills">{% include 'partials/skill_tags.twig' with {'skills': pos.player.skills} %}</td>
                    <td data-label="Primary">{{ pos.primary_skill_initials }}</td>
                    <td data-label="Secondary">{{ pos.secondary_skill_initials }}</td>
                    <td data-label="Cost">{{ pos.player.cost }}k</td>
                    <td data-label="Max">{{ pos.player.max_count == 0 ? 'Unlimited' : pos.player.max_count }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        <p><strong>Rerolls</strong></p>
        <p>Cost: {{ team.reroll_cost }}</p>
        <p>Max: {{ team.max_rerolls }}</p>

        <div class="primary-nav">
            <a href="/team/create/{{ team.id }}" class="primary-nav-link">Draft your own team</a>
        </div>

    {% endif %}

    {% include 'partials/special_rules.twig' with {'special_rules': special_rules, 'regional_rules': regional_rules} %}

{% endblock %}