{% extends "team/team_base.twig" %}

{% block title %}Block &amp; Scroll - Leagues{% endblock %}

{% block content %}

    <p class="breadcrumbs">
        <a href="/">Home</a> -
        <a href="/leagues">Leagues</a>
        {% if coach %} - <a href="/account/{{coach.id}}/view">{{coach.name}}'s</a> Leagues{% endif %}
    </p>

    <h1>{% if coach %}{{coach.name}}'s {% endif %}Leagues</h1>

    {% if leagues|length == 0 %}
        <p><strong>⚠️ No League Found!</strong></p>
    {% else %}
        <table id="positions-table" class="stacked sortable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Season</th>
                    <th>Established</th>
                </tr>
            </thead>
            <tbody>
                {% for league in leagues %}
                <tr>
                    <td data-label="League"><a href="/leagues/view/{{ league.id }}">{{ league.name }}</a></td>
                    <td data-label="Season">{{league.season}}</td>
                    <td data-label="Established">{{ league.create_at|date|date("l j F Y") }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>

        {% if totalPages > 1 %}
            {% include 'partials/pagination.twig' with {'page': page, 'totalPages': totalPages} %}
        {% endif %}
    {% endif %}

    <div class="primary-nav">
        {% if isAuthorizeToCreateLeagues %}
            <a href="/leagues/create" class="primary-nav-link">Create New League</a>
            <a href="/leagues/view/user/managed/{{session.user.id}}" class="primary-nav-link">View My Managed Leagues</a>
        {% endif %}
        {% if session.user %}
            <a href="/leagues/view/user/playing/{{session.user.id}}" class="primary-nav-link">View My Leagues</a>
        {% endif %}
    </div>

{% endblock %}