{% extends "team/team_base.twig" %}

{% block title %}Block &amp; Scroll - {{league.name}}{% endblock %}

{% block content %}

    <p class="breadcrumbs">
        <a href="/">Home</a> -
        <a href="/leagues">Leagues</a> -
        <a href="/league/view/{{ league.id }}">{{league.name}}</a>
    </p>

    <h1>{{league.name}}</h1>

    <p><strong>Season:</strong> {{league.season}}</p>
    <p><strong>Established:</strong> {{ league.create_at|date|date("l j F Y") }}</p>
    <p><strong>Managed By:</strong> 
        {% for manager in league.coaches %}
            {% if not loop.first %}, {% endif %}
            <a href="/account/{{manager.id}}/view">{{manager.name}}</a>
        {% endfor %}  
    </p>

    <h2>League Description</h2>
    <p>{{ league.description|nl2br }}</p>

    {% if league.matches|length > 0 %}
        <h2>Latest Matches</h2>
        <p>Below is a list of the latest matches played in this league.</p>
        {% include 'match/partials/match_list_table.twig' with {'matches': matches} %}
        <p>View all matches in this league <a href="/match/view/league/{{league.id}}">here</a>.</p>
    {% endif %}

    <h2>Teams in this League</h2>
    <p>Below is a list of teams that are currently registered in this league.</p>

    {% if teams|length == 0 %}
        <p><strong>⚠️ No Teams Found!</strong></p>
    {% else %}
        <table id="positions-table" class="stacked">
            <thead>
                <tr>
                    <th>Team Name</th>
                    <th>Status</th>
                    <th>Race</th>
                    <th>Coach</th>
                </tr>
            </thead>
            <tbody>
                {% for team in teams %}
                <tr>
                    <td data-label="Team"><a href="/team/view/{{ team.id }}">{{ team.name }}</a></td>
                    <td data-label="Status">{{team.status}}</td>
                    <td data-label="Race">{{ team.race.name }}</td>
                    <td data-label="Coach"><a href="/account/{{coach.id}}/view">{{ team.coach.name }}</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endif %}
    
    {% if session.user %}
        <div class="primary-nav">
            <a href="/leagues/request/{{league.id}}" class="primary-nav-link">Request Entry of your team</a>
            {% if isAuthorizeToManageLeague %}
                <a href="/league/manage/{{league.id}}" class="primary-nav-link">Manage League</a>
            {% endif %}
        </div>
    {% endif %}

{% endblock %}