{% extends "team/team_base.twig" %}

{% block title %}Block &amp; Scroll - Team - Create{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script src="/js/team/helper-functions.js"></script>
    <script src="/js/team/hire.js"></script>
{% endblock %}

{% set max_cost = max_cost|default(1000000) %}
{% set base_team = base_team|default({}) %}
{% set special_rules = special_rules|default([]) %}
{% set regional_rules = regional_rules|default([]) %}

{% block content %}

    <p class="breadcrumbs">
        <a href="/">Home</a> -
        <a href="/team/view/all">Teams</a> - 
        <a href="/team/view/{{team.id}}">{{ team.name }}</a> -
        Hire Additional Staff
    </p>

    <h1>Hire Additional Staff for {{ team.name }}</h1>

    {% include 'partials/special_rules.twig' with {'special_rules': special_rules, 'regional_rules': regional_rules} %}

    <form method="post" action="/team/hire/{{team.id}}" id="save-team-form" class="form-horizontal">

        <div class="form-section">
            <div class="form-group">
                <label for="current_team_value"><strong>Current Team Value:</strong></label>
                <p id="current-team-value-span">{{ team.current_team_value|default(0)|number_format }}</p>
                <input type="hidden" id="current_team_value" name="current_team_value" value="{{ team.current_team_value|default(0) }}" class="form-control">
                <input type="hidden" id="treasury" name="treasury" value="{{ team.treasury|default(0) }}" class="form-control">
            </div>
        </div>
   
        <h2>Team Staff</h2>
        <div class="tables-flex">
            <div class="table-wrapper">
                {% include 'team/partials/positions_table.twig' with {'positions': positions, 'team': team} %}
            </div>
            <div class="table-wrapper">
                {% include 'team/partials/staff_table.twig' with {'base_team': base_team, 'team': team, 'side_staff': side_staff} %}
            </div>
        </div>

        {% include 'team/partials/team_table.twig' with {'team': team} %}

        <p><center><button type="submit">Save Changes</button></center> </p>
    </form>

{% endblock %}