<h4>Winnings</h4>
<p>
    <a href="/team/view/{{ match.home_team_id }}">{{ match.homeTeam.name }}</a> won {{ winnings.home }}
    <br />
    {% if match.awayTeam.id %}
        <a href="/team/view/{{ match.away_team_id }}">{{ match.awayTeam.name }}</a>
    {% else %}
        {{ match.away_team_name }}
    {% endif %}
    won {{ winnings.away }}
</p>