{% extends "team/team_base.twig" %}

{% block title %}Block &amp; Scroll - Team - Create{% endblock %}
{% block scripts %}
    {{ parent() }}
    <script src="/js/team/create.js"></script>
{% endblock %}

{% set max_cost = max_cost|default(1000000) %}
{% set base_team = base_team|default({}) %}
{% set special_rules = special_rules|default([]) %}
{% set regional_rules = regional_rules|default([]) %}

{% block content %}

    <p class="breadcrumbs">
        <a href="/team">Teams</a> - 
        <a href="/team/create">Create</a> -
        Buy Staff
    </p>

    <h1>Buy Staff</h1>

    <p>{{ base_team.name }} - {{ base_team.description }} <strong>Tier: {{ base_team.tier }}</strong></p>
    {% include 'partials/special_rules.twig' with {'special_rules': special_rules, 'regional_rules': regional_rules} %}

     <form method="post" action="/team/create/save">
        <div class="form-section">
            <div class="form-group">
                <label for="team_name"><strong>Team Name:</strong></label>
                <input type="text" id="team_name" name="team_name" value="" required class="form-control">
            </div>
            <div class="form-group">
                <label for="team_bio"><strong>Team Bio:</strong></label>
                <textarea id="team_bio" name="team_bio" rows="3" class="form-control"></textarea>
            </div>
            <div class="form-group">
                <label for="max_cost"><strong>Max Team Value:</strong></label>
                <input type="number" id="max_cost" name="max_cost" value="{{ max_cost|default(1000000) }}" min="0" step="10000" class="form-control">
            </div>
            <div class="form-group">
                <label for="max_cost"><strong>Current Team Value:</strong></label>
                <input type="number" id="current_team_value" value="{{ current_team_value|default(0) }} name="current_team_value" value="" class="form-control" disabled>
            </div>
        </div>
   
        <div class="tables-flex">
            <div class="table-wrapper">
                {% include 'team/create/partials/positions_table.twig' with {'positions': positions} %}
            </div>
            <div class="table-wrapper">
                {% include 'team/create/partials/staff_table.twig' with {'base_team': base_team, 'team': team} %}
            </div>
        </div>

        {% include 'team/create/partials/team_table.twig' with {'team': team} %}

        <button type="submit">Save Team</button>
    </form>


{% endblock %}